<form>
    <label for="client_fname_input">First Name:</label>
    <input type="text" id="client_fname_input" />
    <br />
    <label for="client_lname_input">Last Name:</label>
    <input type="text" id="client_lname_input" />
    <br />
    <button>Create Client</button>
</form>